<nav class="header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2 d-none d-md-inline-block" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedin">Login</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/register" routerLinkActive="active" *ngIf="!isLoggedin">Register here</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="py-2 d-none d-md-inline-block" routerLink="/register1" routerLinkActive="active">WildCard Route</a>
      <a class="py-2 d-none d-md-inline-block" href="#" (onclick)="logout();" *ngIf="isLoggedin">Logout</a>
    </div>
  </nav>